<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/prueba</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="dominio/Horario.hbm.xml" />
        <mapping resource="dominio/Articulo.hbm.xml" />
        <mapping resource="dominio/SocioFamiliar.hbm.xml" />
        <mapping resource="dominio/Recibo.hbm.xml" />
        <mapping resource="dominio/Personal.hbm.xml" />
        <mapping resource="dominio/Socio.hbm.xml" />
        <mapping resource="dominio/Pista.hbm.xml" />
        <mapping resource="dominio/DetalleRecibo.hbm.xml" />
        <mapping resource="dominio/Cliente.hbm.xml" />
    </session-factory>
</hibernate-configuration>
